.control {
  font-weight: 500;
  display: block;
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  font-size: var(--mantine-font-size-sm);
}

.link {
  font-weight: 500;
  display: block;
  text-decoration: none;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  font-size: var(--mantine-font-size-sm);
  background: none;
  border: none;
  width: 100%;
  text-align: left;
}

.control, .link {
  transition: all ease .2s;
  cursor: pointer;

  @mixin hover {
    background-color: light-dark(var(--mantine-primary-color-9), var(--mantine-primary-color-6));
  }

  &[data-active] {
    background-color: light-dark(var(--mantine-primary-color-9), var(--mantine-primary-color-6));
    color: var(--mantine-color-white);
  }

}

.chevron {
  transition: transform 200ms ease;
}
