.chatItem {
  background-color: light-dark(--var(--mantine-color-black), var(--mantine-color-white));
  color: light-dark(--var(--mantine-color-white), var(--mantine-color-black));
}

.isMeChatItem {
  background-color: var(--mantine-primary-color-filled);
  color: var(--mantine-color-white);
}
