.item {
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-bottom: 1px solid var(--mantine-color-gray-3);

  @mixin hover {
    background-color: var(--mantine-primary-color-light);
    transition: all ease 150ms;
  }
}

.itemRounded {
  padding: var(--mantine-spacing-xs);
  border-radius: var(--mantine-radius-sm);

  @mixin hover {
    background-color: var(--mantine-primary-color-filled);
  }
}
