.wrapper {
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-sm);
  border: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  padding: var(--mantine-spacing-sm);

  @mixin hover {
    transition: all ease 150ms;
    border-color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-3));
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    cursor: pointer;
  }
}
