.logo {
  padding: rem(4px) rem(8px);
  font-size: var(--mantine-font-size-md);
  border-radius: var(--mantine-radius-sm);
  font-weight: 600;

  @mixin hover {
    transition: all ease 150ms;
    font-weight: 800;
  }
}
