.control {
  font-weight: 500;
  display: block;
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  font-size: var(--mantine-font-size-sm);

  @mixin light {
    color: var(--mantine-color-white);
  }

  @mixin dark {
    color: var(--mantine-color-white);
  }

  @mixin hover {
    transition: all ease .2s;

    @mixin light {
      background-color: var(--mantine-color-white);
      color: var(--mantine-primary-color-filled);
    }

    @mixin dark {
      background-color: var(--mantine-color-black);
      color: var(--mantine-primary-color-light-color);
    }
  }

  &[data-active] {
    &,
    &:hover {
      @mixin light {
        background-color: var(--mantine-color-white);
        color: var(--mantine-primary-color-filled);
      }

      @mixin dark {
        background-color: var(--mantine-color-black);
        color: var(--mantine-primary-color-light-color);
      }
    }

    &[data-mini="true"] {
      width: rem(67px);
    }
  }

  &[data-mini="true"] {
    text-align: center;
  }
}

.link {
  font-weight: 500;
  display: block;
  text-decoration: none;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  font-size: var(--mantine-font-size-sm);
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  cursor: pointer;
  transition: all ease .2s;

  @mixin hover {
    transition: all ease .2s;
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-black));
    color: light-dark(var(--mantine-primary-color-filled), var(--mantine-primary-color-light-color));
  }

  &[data-active] {
    &,
    &:hover {
      background-color: light-dark(var(--mantine-color-dark-2), var(--mantine-color-dark-9));
      color: light-dark(var(--mantine-primary-color-filled), var(--mantine-primary-color-light-color));
    }
  }
}

.chevron {
  transition: transform 200ms ease;
}
